@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #100B1C;
  color: #EDEAF8;
  font-family: "Inter", system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2C2340;
  border-radius: 8px;
}
